<!DOCTYPE html>
<html class="no-js" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bonegular</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

    <div ng-controller="DefaultController">
        <ul>
            <li ng-repeat="country in countries">
                <h3 ng-bind="country.name"></h3>
                <ul>
                    <li ng-repeat="state in country.states.models"><a href="javascript:void(null);" ng-bind="state.name" ng-click="state.describe()"></a></li>
                </ul>
            </li>
        </ul>
    </div>

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <!-- <script src="/build/bonegular.js"></script> -->
    <script src="/app.js"></script>
    <script src="/js/start.js"></script>

</body>
</html>
